{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Справочник библиотеки</h2>
    <div class="card">
        <div class="card-body">
            <h3>Просмотр доступных книг</h3>
            <p>В разделе «Библиотека книг» вы можете ознакомиться с каталогом книг. Для удобства используйте поиск по названию, автору или жанру. Фильтры помогут отсортировать книги. Нажав на конкретную книгу, вы увидите её описание и крайний срок возврата, если она уже кем-то взята.</p>
            
            <h3>Добавление книги в свой список</h3>
            <p>Чтобы взять книгу, перейдите в раздел «Библиотека», выберите нужную книгу и нажмите кнопку «Добавить книгу». После подтверждения действия книга появится в вашем личном кабинете в разделе «Мои книги».</p>
            
            
            <h3>Просмотр взятых книг</h3>
            <p>В разделе «Мои книги» отображаются все книги, которые у вас на руках. Здесь вы можете посмотреть даты выдачи, крайний срок возврата и текущий статус (например, «На руках» или «Просрочено»)</p>
            
            
            <h3>Изменение личных данных</h3>
            <p>Для редактирования информации в профиле зайдите в раздел «Профиль» и нажмите кнопку «Редактировать». Обновите свои данные: имя, email или телефон. Не забудьте сохранить изменения. Актуальные контакты помогут библиотеке связаться с вами в случае необходимости.</p>
            
            <h3>Продление срока сдачи книги</h3>
            <p>Если вы не успеваете вернуть книгу, её можно продлить. Для этого в разделе «Мои книги» выберите нужную книгу и нажмите «Продлить». Обратите внимание: эта функция доступна только до истечения срока возврата, а продлить можно не более двух раз.</p>
            
            
            <h3>Проверка долгов</h3>
            <p>В разделе «Мои книги» вы найдете информацию о возможных долгах. Там указана сумма штрафов за просроченные книги и способы оплаты: онлайн через приложение или в кассе библиотеки.</p>
        </div>
    </div>
</div>
{% endblock %}